@import '../../config';

* {
  box-sizing: border-box;
}

.Register {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-flow: column;
  font-family: monospace;
  background-color: $secondary-color;
  border: $default-border;
  border-top-width: thin;
  margin: 10px;
  padding: 10px;
}

.statement {
  display: flex;
  flex-flow: column;
  background-color: $secondary-color;
  border: $default-border;
  margin: 30px;
  padding: 10px;
  text-align: justify;
  font-size: 24px;
}

.reg_form {
  background-image: url('../../imgs/corona-virus-getty.jpg');
  display: block;
  float: left;
  box-sizing: border-box;
  font-size: 15px;
  height: 500px;
  border: $default-border;
}

label {
  font-family: Verdana, sans-serif;
  font-weight: 500;
  font-size: 20px;
  float: left;
  color: #42ef18;
  position: absolute;
}

.residence {
  background-color: #d7cece;
  border: 2px solid #000000;
  padding: 10px;
  margin: 10px;
  float: right;
}

input[type='text'] {
  border: 2px solid #000000;
  background-color: #d7cece;
  padding: 4px;
  margin: 7px 6px 6px 10px;
  width: 60%;
}

.submit {
  margin: 30px;
  background-color: #d7cece;
  border: 2px solid #000000;
  padding: 5px 4px 4px 5px;
}

.corona-map {
  display: flex;
  flex-flow: column;
  height: 90%;
  width: 90%;
  margin: 10px;
}
